@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-position: center;
    height: 280px;
}

.content-div:hover {
    background-image: linear-gradient(to right,
            rgba(12, 75, 110, 0.8),
            hsla(24, 9.8%, 10%, 0.8)) !important;
}